<a href="https://colab.research.google.com/github/mlfigueiredo/CienciaDosDados/blob/main/Manipula%C3%A7%C3%A3o_de_dados_com_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing pandas and numpy
import pandas as pd
import numpy as np


# criando um dataframe (tabela) de exemplo
df = pd.DataFrame({
    'renda_media' :     [ 10, 22, 13, 21, 12, 11, 17],
    'bairro_classe' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'cidade' :    [ 'DF', 'RJ', 'SP', 'RJ', 'SP', 'RJ', 'SP'],
    'sexo_maioria' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'cor_favorita' : [ 'vermelha', np.NAN, 'amarela', np.NAN, 'preto', 'verde', 'vermelho']
    
})

# print para ver a tabela 
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto
5           11             A     RJ            M        verde
6           17             A     SP            F     vermelho

In [ ]:
# selecionando todas as linhas que atendem a condição 
# pandas.DataFrame.loc [] . Só precisamos passar a condição dentro da instrução loc.
df.loc[df.renda_media >= 15]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22             B     RJ            F          NaN
3           21             B     RJ            M          NaN
6           17             A     SP            F     vermelho

In [ ]:
# selecionando e fazendo vários condicionais 
df.loc[((df.renda_media >= 12)) &  (df.sexo_maioria == 'M')]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto

In [ ]:
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN
4           12             B     SP            M        preto
5           11             A     RJ            M        verde
6           17             A     SP            F     vermelho

In [ ]:
# slice ou fatiamento é tipo o "Query Builder" do SAS.... um método de filtragem
df.loc[1:3]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22             B     RJ            F          NaN
2           13             C     SP            F      amarela
3           21             B     RJ            M          NaN

In [2]:
# selecionando algumas colunas com operadores condicionais 
df.loc[ (df.renda_media >= 12), ['cidade', 'sexo_maioria']]

  cidade sexo_maioria
1     RJ            F
2     SP            F
3     RJ            M
4     SP            M
6     SP            F

In [3]:
# Alterando (dando um update) na coluna que segue a condicional
df.loc[(df.renda_media >= 12), ['bairro_classe']] ='E'
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22             E     RJ            F          NaN
2           13             E     SP            F      amarela
3           21             E     RJ            M          NaN
4           12             E     SP            M        preto
5           11             A     RJ            M        verde
6           17             E     SP            F     vermelho

In [4]:
# Alterando (update) várias colunas  de acordo com a condicional
df.loc[(df.renda_media >= 20), ['bairro_classe', 'cidade']] = ['AA','CE']
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela
3           21            AA     CE            M          NaN
4           12             E     SP            M        preto
5           11             A     RJ            M        verde
6           17             E     SP            F     vermelho

In [5]:
# selecinando linhas pelo índice
df.iloc[[0,2,6]]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
2           13             E     SP            F      amarela
6           17             E     SP            F     vermelho

In [6]:
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela
3           21            AA     CE            M          NaN
4           12             E     SP            M        preto
5           11             A     RJ            M        verde
6           17             E     SP            F     vermelho

In [7]:
# selecionando linhas com indices e colunas especificas 
df.iloc[[0,2],[1,3]]

  bairro_classe sexo_maioria
0             A            M
2             E            F

In [8]:
# selecionando uma faixa (range) de linhas
df.iloc[1:3]

   renda_media bairro_classe cidade sexo_maioria cor_favorita
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela

In [9]:
df

   renda_media bairro_classe cidade sexo_maioria cor_favorita
0           10             A     DF            M     vermelha
1           22            AA     CE            F          NaN
2           13             E     SP            F      amarela
3           21            AA     CE            M          NaN
4           12             E     SP            M        preto
5           11             A     RJ            M        verde
6           17             E     SP            F     vermelho

In [10]:
# selecionando uma faixa de linhas e colunas 
df.iloc[1:3,2:4]

  cidade sexo_maioria
1     CE            F
2     SP            F